# $Id: printer.cfg,v 1.6 2026/05/13 13:30:53 aaron Exp aaron $
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# This setup is for the experimental tetrahedral 3D printer,
# which uses the tilted_delta kinematic model, available at:
#
#    https://github.com/Mr-What/klipper/tree/tilted-delta-kinematics-dev
#
# The master of this project is intended to track the master at
# https://github.com/Klipper3d/klipper
# The deviation from the official klipper master is tracked in the
# tilted-delta-kinematics-dev  branch of https://github.com/Mr-What/klipper
#
# calibration tools and drawings are in the Tetra3D project:
# https://github.com/Mr-What/Tetra3D

[printer]
kinematics: tilted_delta
max_velocity: 300  # mm/s
max_accel: 800
#max_z_velocity: 5  a little slower than XY for delta, but not much slower
#max_z_accel: 100
print_radius: 80
delta_angles: 209.914345, 329.717780, 89.802627
delta_radius: 164.579957, 164.916811, 164.614094
arm_lengths: 285.962246, 285.929667, 287.159928
tilt_radial: 12.818539, 13.000136, 13.205502
tilt_tangential: -0.082508, 0.211575, 0.034973
#z_offset: -1.0 # actual Z distance when bed probe triggers (mm)  I think this may be z_offset in [probe] section
minimum_z_position: -15   # not used in kinematics, but needs to be negative for bed probes, which can be negative Z


[stepper_a]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
# try to have endstops NC, so that they fail triggered, no motion
# if they are wired NO, when a wire comes off, they could crash
endstop_pin: PC0
position_min: 113
position_endstop: 476.0673
#position_max: 477   # slightly above position_endstop
homing_speed: 50   # mm/s
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 10

[stepper_b]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: PC1
position_min: 112
position_endstop: 475.2068
#position_max: 474    # slightly above position_endstop
homing_speed: 50
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 10

[stepper_c]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
endstop_pin: PC2
position_min: 114
position_endstop: 477.3374
#position_max: 482
homing_speed: 50  # mm/s
homing_retract_dist: 5
homing_retract_speed: 30
second_homing_speed: 10

[tmc2209 stepper_a]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_b]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_c]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

#[delta_calibrate]
#radius: 80

# put this back when we hook up bowden extruder
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 6.633  # gearhead rotation << motor rotation
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 500
min_extrude_temp: 2 #160
#max_extrude_temp: 275
max_extrude_only_distance: 200
max_extrude_only_velocity: 40
max_extrude_only_accel: 1000

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.35 # typical is 0.6 to 0.9
stealthchop_threshold: 30
sense_resistor: 0.11  # guess at .11 Ohm sense for 2209 on most BTT boards
hold_current: 0.2
interpolate: True

# uncomment if/when we get a heated bed
#[heater_bed]
#heater_pin: PC9
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
#min_temp: -200
#max_temp: 3130

[probe]
pin: ^PC14 # normally closed
x_offset: 0.0
y_offset: 0.0
z_offset: -0.263  # probe needs to go .263mm BELOW BED to trigger
speed: 10.0
samples: 3
sample_retract_dist: 3.0

[gcode_arcs]
resolution: 0.5 # mm

[heater_fan heatbreak_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FFDA054754343040811557-if00
# serial: /dev/ttyACM0

[force_move]
enable_force_move: True

[static_digital_output usb_pullup_enable]
pins: !PA14

[verify_heater extruder]
max_error: 999999
check_gain_time: 999999
hysteresis: 999999

#[verify_heater heater_bed]
#max_error: 999999
#check_gain_time: 999999
#hysteresis: 999999


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[include mainsail.cfg]
[include tetraMacros.cfg]

[gcode_macro MOTORS_OFF]
gcode:
    M84

[gcode_macro HOME]
gcode:
    G28
    G1 X0 Y0 Z180 F8000
    GET_POSITION

[gcode_macro REL]
description: Change to relative mode, do requested move, then back to absolute if we were in absolute
gcode:
    {% set x = params.X|default(0)|float %}
    {% set y = params.Y|default(0)|float %}
    {% set z = params.Z|default(5)|float %}
    {% set f = params.F|default(600)|float %}
    
    {% set was_relative = printer.gcode_move.relative_coordinates %}
    G91
    G1 X{x} Y{y} Z{z} F{f}
    {% if not was_relative %}
    G90
    {% endif %}

[gcode_macro PROBEZ]
description: move to [X,Y], PROBE, then move up Z, default 5mm
gcode:
    {% set x = params.X|default(0)|float %}
    {% set y = params.Y|default(0)|float %}
    {% set z = params.Z|default(5)|float %}
    {% set f = params.F|default(600)|float %}
    #QUERY_PROBE
    G1 X{x} Y{y}
    #QUERY_PROBE
    PROBE
    #QUERY_PROBE
    REL Z={z} F={f}
    #QUERY_PROBE

#[gcode_macro PURGE_ARC1]
#description: Helper, to draw an arc pair for PURGE_NOZZLE
#gcode:
#  {% set R     = (params.R    |default(115))  |float %}
#  {% set ZEXT  = (params.ZEXT |default(0.2))  |float %}
#  {% set ZHOP  = (params.ZHOP |default(8.0))  |float %}
#  {% set FARC  = (params.FARC |default(2000)) |float %}
#  {% set EARC  = (params.EARC |default(5))   |float %}
#  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep
#  {% set XA = params.XA|float %}
#  {% set XB = params.XB|float %}
#  {% set YA = params.YA|float %}
#  {% set YB = params.YB|float %}
#  {% set X0 = R * XA %}
#  {% set Y0 = R * YA %}
#  {% set X1 = R * XB %}
#  {% set Y1 = R * YB %}
#  {% set ZCROSS = XA * YB - YA * XB %}
#  
#  ; move to start point at hop height
#  #RESPOND TYPE=echo MSG="G0 X{X0} Y{Y0} Z{ZHOP} F8000"
#  G0 X{X0} Y{Y0} Z{ZHOP} F8000
#  G0 Z{ZEXT} E3 F800
#  GET_POSITION
#  
#  ; first arc: from (X0,Y0) to (X1,Y1), center at (0,0)
#  {% set XC = -X0 %}
#  {% set YC = -Y0 %}
#  RESPOND TYPE=echo MSG="G23 X{X1} Y{Y1} I{XC} J{YC} E{EARC} F{FARC}"
#  {%if ZCROSS < 0 %}
#    G2 X{X1} Y{Y1} I{XC} J{YC} E{EARC} F{FARC}
#  {% else %}
#    G3 X{X1} Y{Y1} I{XC} J{YC} E{EARC} F{FARC}
#  {% endif %}
#  GET_POSITION
#  #G0 Z{ZHOP} F3000
#
#  ; move slightly inward for the second sweep
#  {% set X1 = DARC * X1 %}
#  {% set Y1 = DARC * Y1 %}
#  G1 X{X1} Y{Y1} Z{ZEXT} E.01 F300
#
#  {% set X0 = DARC * X0 %}
#  {% set Y0 = DARC * Y0 %}
#  {% set XC = -X1 %}
#  {% set YC = -Y1 %}
#
#  ; second arc back toward (X0,Y0), centered at (0,0)
#  #RESPOND TYPE=echo MSG="G3 X{X0} Y{Y0} I{XC} J{YC} E{EARC} F{FARC}"
#  GET_POSITION
#  {%if ZCROSS < 0 %}
#    G3 X{X0} Y{Y0} I{XC} J{YC} E{EARC} F{FARC}
#  {% else %}
#    G2 X{X0} Y{Y0} I{XC} J{YC} E{EARC} F{FARC}
#  {% endif %}
#  GET_POSITION
#  G0 Z{ZHOP} E-3 F3000

[gcode_macro PURGE_ARC]
description: Helper, to draw an arc pair for PURGE_NOZZLE
gcode:
  {% set R     = (params.R    |default(115))  |float %}
  {% set FARC  = (params.FARC |default(2000)) |float %}
  {% set EARC  = (params.EARC |default(5))   |float %}
  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep
  {% set ZHOP  = 5   %}
  {% set XA = params.XA|float %}
  {% set YA = params.YA|float %}

  # compute start and end points at radius R
  {% set SGN = (1 if YA > 0 else -1) %}
  {% set SA = 0.21 %}  # sin of wipe angle from tower
  {% set CA = 0.9777014 %} #cos
  {% set X0 = R * (CA*XA - SA*YA*SGN) %}
  {% set Y0 = R * (CA*YA + SA*XA*SGN) %}
  {% set X1 = R * (CA*XA + SA*YA*SGN) %}
  {% set Y1 = R * (CA*YA - SA*XA*SGN) %}
  {% set XT = R*XA %} # close to tower
  {% set YT = R*YA %}
  {% set ZCROSS = X0 * Y1 - Y0 * X1 %}
  
  ; move to start point at hop height
  #RESPOND TYPE=echo MSG="G0 X{X0} Y{Y0} Z{ZHOP} F8000"
  G0 X{X0} Y{Y0} Z{ZHOP} F8000
  G0 E3 F600
  PROBE
  REL Z=2.3  #.3
  GET_POSITION
  
  ; first arc: from (X0,Y0) to (X1,Y1), center at (0,0)
  {% set XC = -X0 %}
  {% set YC = -Y0 %}
  RESPOND TYPE=echo MSG="G2/3 X{X1} Y{Y1} I{XC} J{YC} E{EARC} F{FARC}"
  {%if ZCROSS < 0 %}
    G2 X{X1} Y{Y1} Z.1 I{XC} J{YC} E{EARC} F{FARC}
  {% else %}
    G3 X{X1} Y{Y1} Z.1 I{XC} J{YC} E{EARC} F{FARC}
  {% endif %}
  GET_POSITION
  
  REL Z=3  # teporary, to deal with clogged nozzle issue
  G0 E-4 F1200
  G0 E6 F600

  ; move slightly inward for the second sweep
  {% set X1 = DARC * X1 %}
  {% set Y1 = DARC * Y1 %}
  G1 X{X1} Y{Y1} Z.2 F300

  {% set X0 = DARC * XT %}
  {% set Y0 = DARC * YT %}
  {% set XC = -X1 %}
  {% set YC = -Y1 %}

  ; second arc back toward tower centered at (0,0), just wipe
  #RESPOND TYPE=echo MSG="G3 X{X0} Y{Y0} I{XC} J{YC} F{FARC}"
  GET_POSITION
  {% if ZCROSS < 0 %}
    G3 X{X0} Y{Y0} I{XC} J{YC} E1 F{FARC}
  {% else %}
    G2 X{X0} Y{Y0} I{XC} J{YC} E1 F{FARC}
  {% endif %}
  GET_POSITION
  G0 Z{ZHOP} E-3 F3000


[gcode_macro PURGE_NOZZLE]
description: Extrude some arcs near each tower to purge nozzle before print
gcode:
  {% set R     = (params.R    |default(115))  |float %}
  {% set FARC  = (params.FARC |default(2000)) |float %}
  {% set EARC  = (params.EARC |default(10))   |float %}
  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep

  G90                         # absolute XYZ
  M83                         ; relative E
  HOME
  G0 X0 Y115 Z5 F8000
  G1 E3 F300                  ; initial purge
  G0 X5 Y118 F6000
  G0 Z.2 F2000 # wipe off blob
  G0 X-5
  G0 X5 Y117
  G0 X-5 Y116
  G0 Z0 F600
  G4 P200  # short dwell
  G0 Z.6 F3000

  #PURGE_ARC1 XA=-.342  YA=.9397  XB=.342   YB=.9397  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  #PURGE_ARC1 XA=-.985  YA=-.1736 XB=-.6428 YB=-.766  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  #PURGE_ARC1 XA=.9848  YA=-.1736 XB=.6428  YB=-.766  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=0      YA=1    R={R} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=-0.866 YA=-0.5 R={R} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=0.866  YA=-0.5 R={R} FARC={FARC} EARC={EARC} DARC={DARC}

  G0 X0 Y0 Z20 F8000
  G1 E3 F300

[gcode_macro SET_EXTRUDER]
gcode:
    {% set T = params.T|default(0)|float %}
    #M104 S{T}  # non-blocking
    #M109 S{T} # blocking
    SET_HEATER_TEMPERATURE TARGET={T} HEATER=extruder

[gcode_macro SET_BED]
gcode:
    {% set T = params.T|default(0)|float %}
    M140 S{T}  # non-blocking
    #M190 S{T} # blocking
    #SET_HEATER_TEMPERATURE TARGET={T} HEATER=bed?
    
[gcode_macro PRINT_START]
description: Full start procedure
gcode:
    {% set      BED_TEMP = params.BED_TEMP     |default( 60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    #SET_BED T={BED_TEMP}  # start bed heating, no wait
    G90  # abxolute XYZ
    M83  # relative E
    M84 # Motors off, user can reposition or manually clean bed or nozzle while heating
    SET_EXTRUDER T={EXTRUDER_TEMP}  # no wait
    #M190 S{BED_TEMP}     # wait for bed to heat
    M109 S{EXTRUDER_TEMP} # wait for extruder at requested temp
    PURGE_NOZZLE EARC=12

[gcode_macro HEATERS_OFF]
gcode:
  M104 S0
  M140 S0

[gcode_macro PRINT_DONE]
gcode:
    HEATERS_OFF
    M107    # part cooling fan off
    G0 X0 Y0 Z180 F8000 # current home
    MOTORS_OFF
