# $Id: printer.cfg,v 1.1 2026/03/13 01:37:41 pi Exp pi $
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# This setup is for the experimental tetrahedral 3D printer,
# which uses the tilted_delta kinematic model, available at:
#
#    https://github.com/Mr-What/klipper/tree/tilted-delta-kinematics-dev
#
# The master of this project is intended to track the master at
# https://github.com/Klipper3d/klipper
# The deviation from the official klipper master is tracked in the
# tilted-delta-kinematics-dev  branch of https://github.com/Mr-What/klipper
#
# calibration tools and drawings are in the Tetra3D project:
# https://github.com/Mr-What/Tetra3D

[stepper_a]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: !PC0
position_endstop: 475.76
#position_max: 511
homing_speed: 1   # mm/s
#arm_length: 287
#angle: 210

[tmc2209 stepper_a]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_b]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: 472.5454
#position_max: 500
homing_speed: 1

[tmc2209 stepper_b]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_c]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
endstop_pin: !PC2
position_endstop: 481.127
homing_speed: 1  # mm/s
#position_max: 500
#arm_length: 287
#angle: 90

[tmc2209 stepper_c]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

#[delta_calibrate]
#radius: 80

# put this back when we hook up bowden extruder
[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: -200
max_temp: 2500
#
#[tmc2209 extruder]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 3
#run_current: 0.650
#stealthchop_threshold: 999999

# uncomment if/when we get a heated bed
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: -200
max_temp: 3130

[probe]
pin: ^!PC14 # normally open
x_offset: 0.0
y_offset: 0.0
z_offset: 0.0
speed: 5.0
samples: 3
sample_retract_dist: 3.0

[heater_fan heatbreak_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FFDA054754343040811557-if00
# serial: /dev/ttyACM0

[printer]
kinematics: tilted_delta
max_velocity: 300  # mm/s
max_accel: 800
#max_z_velocity: 5  a little slower than XY for delta, but not much slower
#max_z_accel: 100
print_radius: 80
delta_angles: 210., 330., 90.   # angle to tower A,B,C base
delta_radius: 160., 160., 160.  # radii at BASE of towers A, B, C
arm_lengths: 287., 287., 287.   # length of arm for towers A, B, C
tilt_radial: 13.,13.,13.  # tower tilt in radial direction (deg) 0 for classic ideal delta
tilt_tangential: 0.,0.,0. # tower tilt to side (deg) 0 for ideal build
#z_offset: -1.0 # actual Z distance when bed probe triggers (mm)  I think this may be z_offset in [probe] section

[force_move]
enable_force_move: True

[static_digital_output usb_pullup_enable]
pins: !PA14

[verify_heater extruder]
max_error: 999999
check_gain_time: 999999
hysteresis: 999999

[verify_heater heater_bed]
max_error: 999999
check_gain_time: 999999
hysteresis: 999999


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

### this didn't work. just useless echo of commands.
# the standard PROBE report contains X Y Z at trigger.  use that.
#[gcode_macro BED_PROBE_LOG]
#description: Perform a bed probe, starting at (X Y Z) and log the location where the bed probe triggered
#gcode:
#    {% set X = params.X|float %}
#    {% set Y = params.Y|float %}
#    {% set Z = params.Z|default(5.0)|float %}
#
#    G90
#    G1 X{X} Y{Y} Z{Z} F6000
#
#    PROBE
#
#    {% set gpos = printer.gcode_move.gcode_position %}
#    {% set tpos = printer.toolhead.position %}
#
#    {action_respond_info(
#        "BED_PROBE_LOG: start=[%.3f, %.3f, %.3f]; gcode=[%.3f, %.3f, %.3f]; toolhead=[%.3f, %.3f, %.3f]"
#        % (X, Y, Z, gpos.x, gpos.y, gpos.z, tpos.x, tpos.y, tpos.z)
#    )}
    
[include mainsail.cfg]
