[gcode_macro MOTORS_OFF]
gcode:
    M84

[gcode_macro HOME]
gcode:
    G28
    G1 X0 Y0 Z175 F8000
    GET_POSITION

[gcode_macro REL]
description: Change to relative mode, do requested move, then back to absolute if we were in absolute
gcode:
    {% set x = params.X|default(0)|float %}
    {% set y = params.Y|default(0)|float %}
    {% set z = params.Z|default(5)|float %}
    {% set f = params.F|default(600)|float %}
    
    {% set was_relative = printer.gcode_move.relative_coordinates %}
    G91
    G1 X{x} Y{y} Z{z} F{f}
    {% if not was_relative %}
    G90
    {% endif %}

[gcode_macro USER_VARS]
variable_probez_z: 5.0    # default height before probe
variable_probez_f: 600.0  # default move rate, mm/min, between probes
gcode:

[gcode_macro PROBEZ]
description: move to [X,Y], PROBE, then move up Z, default from USER_VARS
gcode:
    {% set uv = printer["gcode_macro USER_VARS"] %}
    {% set x = params.X|default(0)|float %}
    {% set y = params.Y|default(0)|float %}
    {% set z = params.Z|default(uv.probez_z)|float %}
    {% set f = params.F|default(uv.probez_f)|float %}
    #QUERY_PROBE
    G1 X{x} Y{y}
    #QUERY_PROBE
    PROBE
    #QUERY_PROBE
    REL Z={z} F={f}
    #QUERY_PROBE

[gcode_macro PURGE_ARC]
description: Helper, to draw an arc pair for PURGE_NOZZLE
gcode:
  {% set R     = (params.R    |default(115))  |float %}
  {% set FARC  = (params.FARC |default(2000)) |float %}
  {% set EARC  = (params.EARC |default(5))   |float %}
  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep
  {% set ZHOP  = 5   %}
  {% set XA = params.XA|float %}
  {% set YA = params.YA|float %}

  # compute start and end points at radius R
  {% set SGN = (1 if YA > 0 else -1) %}
  {% set SA = 0.21 %}  # sin of wipe angle from tower
  {% set CA = 0.9777014 %} #cos
  {% set X0 = R * (CA*XA - SA*YA*SGN) %}
  {% set Y0 = R * (CA*YA + SA*XA*SGN) %}
  {% set X1 = R * (CA*XA + SA*YA*SGN) %}
  {% set Y1 = R * (CA*YA - SA*XA*SGN) %}
  {% set XT = R*XA %} # close to tower
  {% set YT = R*YA %}
  {% set ZCROSS = X0 * Y1 - Y0 * X1 %}
  
  ; move to start point at hop height
  #RESPOND TYPE=echo MSG="G0 X{X0} Y{Y0} Z{ZHOP} F8000"
  G0 X{X0} Y{Y0} Z{ZHOP} F8000
  G0 E3 F600
  PROBE
  REL Z=2.3  #.3
  GET_POSITION
  
  ; first arc: from (X0,Y0) to (X1,Y1), center at (0,0)
  {% set XC = -X0 %}
  {% set YC = -Y0 %}
  RESPOND TYPE=echo MSG="G2/3 X{X1} Y{Y1} I{XC} J{YC} E{EARC} F{FARC}"
  {%if ZCROSS < 0 %}
    G2 X{X1} Y{Y1} Z.1 I{XC} J{YC} E{EARC} F{FARC}
  {% else %}
    G3 X{X1} Y{Y1} Z.1 I{XC} J{YC} E{EARC} F{FARC}
  {% endif %}
  GET_POSITION
  
  REL Z=3  # teporary, to deal with clogged nozzle issue
  G0 E-4 F1200
  G0 E6 F600

  ; move slightly inward for the second sweep
  {% set X1 = DARC * X1 %}
  {% set Y1 = DARC * Y1 %}
  G1 X{X1} Y{Y1} Z.2 F300

  {% set X0 = DARC * XT %}
  {% set Y0 = DARC * YT %}
  {% set XC = -X1 %}
  {% set YC = -Y1 %}

  ; second arc back toward tower centered at (0,0), just wipe
  #RESPOND TYPE=echo MSG="G3 X{X0} Y{Y0} I{XC} J{YC} F{FARC}"
  GET_POSITION
  {% if ZCROSS < 0 %}
    G3 X{X0} Y{Y0} I{XC} J{YC} E1 F{FARC}
  {% else %}
    G2 X{X0} Y{Y0} I{XC} J{YC} E1 F{FARC}
  {% endif %}
  GET_POSITION
  G0 Z{ZHOP} E-3 F3000


[gcode_macro PURGE_NOZZLE]
description: Extrude some arcs near each tower to purge nozzle before print
gcode:
  {% set R     = (params.R    |default(115))  |float %}
  {% set FARC  = (params.FARC |default(2000)) |float %}
  {% set EARC  = (params.EARC |default(10))   |float %}
  {% set DARC  = (params.DARC |default(0.998))|float %}  # frac to move in for second sweep

  G90                         # absolute XYZ
  M83                         ; relative E
  HOME
  G0 X0 Y115 Z5 F8000
  G1 E3 F300                  ; initial purge
  G0 X5 Y118 F6000
  G0 Z.2 F2000 # wipe off blob
  G0 X-5
  G0 X5 Y117
  G0 X-5 Y116
  G0 Z0 F600
  G4 P200  # short dwell
  G0 Z.6 F3000

  #PURGE_ARC1 XA=-.342  YA=.9397  XB=.342   YB=.9397  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  #PURGE_ARC1 XA=-.985  YA=-.1736 XB=-.6428 YB=-.766  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  #PURGE_ARC1 XA=.9848  YA=-.1736 XB=.6428  YB=-.766  R={R} ZEXT={ZEXT} ZHOP={ZHOP} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=0      YA=1    R={R} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=-0.866 YA=-0.5 R={R} FARC={FARC} EARC={EARC} DARC={DARC}
  PURGE_ARC XA=0.866  YA=-0.5 R={R} FARC={FARC} EARC={EARC} DARC={DARC}

  G0 X0 Y0 Z20 F8000
  G1 E3 F300

[gcode_macro SET_EXTRUDER]
gcode:
    {% set T = params.T|default(0)|float %}
    #M104 S{T}  # non-blocking
    #M109 S{T} # blocking
    SET_HEATER_TEMPERATURE TARGET={T} HEATER=extruder

[gcode_macro SET_BED]
gcode:
    {% set T = params.T|default(0)|float %}
    M140 S{T}  # non-blocking
    #M190 S{T} # blocking
    #SET_HEATER_TEMPERATURE TARGET={T} HEATER=bed?
    
[gcode_macro PRINT_START]
description: Full start procedure
gcode:
    {% set      BED_TEMP = params.BED_TEMP     |default( 60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    #SET_BED T={BED_TEMP}  # start bed heating, no wait
    G90  # abxolute XYZ
    M83  # relative E
    M84 # Motors off, user can reposition or manually clean bed or nozzle while heating
    SET_EXTRUDER T={EXTRUDER_TEMP}  # no wait
    #M190 S{BED_TEMP}     # wait for bed to heat
    M109 S{EXTRUDER_TEMP} # wait for extruder at requested temp
    PURGE_NOZZLE EARC=12

[gcode_macro HEATERS_OFF]
gcode:
  M104 S0
  M140 S0

[gcode_macro PRINT_DONE]
gcode:
    HEATERS_OFF
    M107    # part cooling fan off
    G0 X0 Y0 Z150 F8000 # near home
    MOTORS_OFF
